# Your Wi-Fi SSID and password
WIFI_SSID: "my-wifi"
WIFI_PASSWORD: "my-wifi-password"

# accesspoint password when lost connection
WIFI_AP_PASSWORD: my-wifi-ap-password

# local domain name
# see https://www.rfc-editor.org/rfc/rfc8375.html
# or https://www.rfc-editor.org/rfc/rfc6303.html
DOMAIN: ".home.arpa."
